* {
    margin: 0;
    padding: 0;
}

*,
*::after,
*::before {
    -webkit-box-sizing: inherit;
            box-sizing: inherit;
}

html {
    font-size: 62.5%;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    width: 100%;
}

body {
    font-size: 1.6rem;
    background-image: linear-gradient(to right, rgba(0, 128, 0, 0.808), rgba(255, 68, 0, 0.178)), url('./../bg.jpg');
    background-size: 100%;
    /* background-attachment: fixed; */
}

.header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.list {
    display: flex;
    flex-direction: row;
    list-style: none;
}

.item {
    margin: 0 20px 0 20px;
}

.link {
    text-decoration: none;
    color: white;
    font-size: 30px;
}

.link:active,
.link:vissited {
    color: #fff;
}
.link:hover {
    color: rgb(221, 210, 210);
}

.logo {
    color: white;
    text-decoration: none;
    font-size: 33px;
    font-weight: 100;
}

.navigation {
    padding: 20px 30px 20px 30px;
}

.scroll-top {
    background-color: white;
    color: #777;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    position: fixed;
    right: 10px;
    bottom: 10px;
    z-index: 9999;
    box-shadow: 0px 10px 10px rgba(255, 68, 0, 0.178);
    text-align: center;
}

.scroll-top:hover {
    box-shadow: 0px 10px 10px rgba(255, 68, 0, 0.278);
    cursor: pointer;
}

.scroll-top span {
    padding-top: 8px;
    font-size: 30px;
    display: block;
}